@media screen and (min-width: 0px) and (max-width: 768px){
	.navbar,.information,.info-1,.info-2,.sub-footer,.header,.footer-1{
		flex-flow:column wrap;
	}
	.flex-left,.flex-right,.sub-left,.sub-right,.item,.footer-flex,.footer-flex-1{
		flex:100%;
	}
	.head-flex-left,.head-flex-right,.nav-right,.nav-left{
		width:100%;
		padding:10px;
	}
	.footer-flex h1{
		text-align: center;
	}
	.last-p-1{
		float:none;
		width:100%;
	}
	.last-p-2{
		float:none;
		width:100%;
	}
	
} 